[defaults]
inventory = inventory/hosts
collections_path = ./collections
host_key_checking = False
stdout_callback = default
result_format = yaml
deprecation_warnings = False
interpreter_python = auto_silent
retry_files_enabled = False
vault_password_file = ~/.ansible_vault_pass

[inventory]
enable_plugins = ini
